<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <!--<connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AspNetDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="Forms">
      <!-- [예제 15-1] -->
      <forms loginUrl="15-1_Login.aspx" defaultUrl="15-1_Default.aspx"></forms>
      <!-- [예제 15-2] -->
      <!--<forms loginUrl="15-2_Login.aspx" defaultUrl="15-2_Default.aspx"></forms>-->
    </authentication>
    <membership defaultProvider="MyAspNetSqlMembershipProvider">
      <providers>
        <add name="MyAspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" passwordFormat="Hashed" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
  </system.web>

  <system.net>
    <mailSettings>
      <smtp from="master@atmedia.co.kr">
        <network host="localhost"/>
        <!--<network enableSsl="true" host="smtp.gmail.com" userName="YourAccount@gmail.com" password="Password" port="587"/>-->
        <!--<network enableSsl="true" host="smtp.live.com" userName="You@YourDomain.com" password="Password" port="587"/>-->
      </smtp>
    </mailSettings>
  </system.net>

  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="master@atmedia.co.kr">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\TempMail"/>
      </smtp>
    </mailSettings>
  </system.net>-->

  <location path="Secured">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <!--<location path="Admins">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
</configuration>
