body 
{
    background-color: white;
    color: black;
}
        
.note {background-color: #cccccc;}
        
#header
{
    height: 30px; 
    background-color: #99ccff;
}

div>b {font-style: italic;}
        
div b {text-decoration: underline;}
        
a:link {color: purple; text-decoration: none;}
a:visited {color: blue; text-decoration: none;}
a:hover {color: green; text-decoration: underline;}
a:active {color: red; text-decoration: underline;}
        
.para:first-letter {color: red; font-size: xx-large;}