<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AspNetDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="Forms"/>
    <membership defaultProvider="MyAspNetSqlMembershipProvider">
      <providers>
        <add name="MyAspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MyConnectionString" passwordFormat="Hashed" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    <!--<anonymousIdentification enabled="true"/>-->
    <profile defaultProvider="MyAspNetSqlProfileProvider">
      <providers>
        <add name="MyAspNetSqlProfileProvider" connectionStringName="MyConnectionString" type="System.Web.Profile.SqlProfileProvider" applicationName="/"/>
      </providers>
      <properties>
        <add name="MainBackColor"/>
        <add name="EnableCalendar" type="System.Boolean"/>
      </properties>
    </profile>
  </system.web>
  
  <location path="Secured">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>
